* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
   display: inline-block;
   vertical-align: middle;
   width: 45px;
   height: 45px;
   margin-top: 15px;
   margin-left: 15px; 
}

.title {
    display: inline-block;
    font-size: 35px;
    vertical-align: middle;
    margin-top: 15px;    
}

.container {
    margin-top: 70px;
    margin-left: 180px;
}

button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.button-task {
    background-color: #47adf1;
    color: #ffffff;
}

.button-selection {
    background-color: #ffffff;
    color: #c5cbd0;
    border: 1px solid #c5cbd0;
}

.container-1 {
    margin-left: 180px;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

.checkmark-green {
    vertical-align: middle;
}

.editorial {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    color: #ffffff;
    width: 60px;
    height: 25px;
    background-color:#45abea;
    border-radius: 10px;
}

.list-item {
    margin-top: 10px;
}

